
@{
    ViewData["Title"] = "Import des données";
}
 <section id="basic-horizontal-layouts">
        <div class="placed-center">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="auth-title">Import des données</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <form class="form form-horizontal" asp-action="ExecuteImportM" asp-controller="Admin" method="post" enctype="multipart/form-data">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="first-name-horizontal">Maison et travaux</label>
                                        </div>
                                        <fieldset class="col-md-9 form-group">
                                            <input type="file" class="form-control" name="maison" required>
                                        </fieldset>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="first-name-horizontal">Devis</label>
                                        </div>
                                        <fieldset class="col-md-9 form-group">
                                            <input type="file" class="form-control" name="devis" required>
                                        </fieldset>
                                    </div>
                                    
                                    <div class="col-sm-12 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary me-1 mb-1 mt-4">Importer</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
