@{
    ViewData["Title"] = "Home Page";
    Layout=null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/compiled/css/app.css">
<link rel="stylesheet" href="~/assets/compiled/css/app-dark.css">
    <title>Document</title>
</head>
<body>
    <section class="section">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <h2>Devis </h2>
                </div>
                </div>
                
                <div class="card-content">
                    <div class="row">
                        <div class="">
                            <div class="table-responsive mb-4" style="margin: 2%;">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>DESIGNATION</th>
                                            <th>U</th>
                                            <th>Q</th>
                                            <th>PU</th>
                                            <th>TOTAL</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-bold-500">000 - TRAVAUX PREPARATOIRE</td>
                                            <td></td>
                                            <td class="text-bold-500"></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold-500">001 </td>
                                            <td>mur de soutenement blabla blaaaaaaaaaa</td>
                                            <td>m3</td>
                                            <td>26,86</td>
                                            <td>190 000,00</td>
                                            <td>5 126 200,00</td>
                                        </tr>
                                        <tr id="total">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-bold-500">TOTAL TRAVAUX</td>
                                            <td class="text-bold-500">5 126 200,00</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold-500">000 - TRAVAUX PREPARATOIRE</td>
                                            <td></td>
                                            <td class="text-bold-500"></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold-500">001 </td>
                                            <td>mur de soutenement blabla blaaaaaaaaaa</td>
                                            <td>m3</td>
                                            <td>26,86</td>
                                            <td>190 000,00</td>
                                            <td>5 126 200,00</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold-500">001 </td>
                                            <td>mur de soutenement blabla blaaaaaaaaaa</td>
                                            <td>m3</td>
                                            <td>26,86</td>
                                            <td>190 000,00</td>
                                            <td>5 126 200,00</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold-500">001 </td>
                                            <td>mur de soutenement blabla blaaaaaaaaaa</td>
                                            <td>m3</td>
                                            <td>26,86</td>
                                            <td>190 000,00</td>
                                            <td>5 126 200,00</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-bold-500">TOTAL TRAVAUX</td>
                                            <td class="text-bold-500">5 126 200,00</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold-500">000 - TRAVAUX PREPARATOIRE</td>
                                            <td></td>
                                            <td class="text-bold-500"></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold-500">001 </td>
                                            <td>mur de soutenement blabla blaaaaaaaaaa</td>
                                            <td>m3</td>
                                            <td>26,86</td>
                                            <td>190 000,00</td>
                                            <td>5 126 200,00</td>
                                        </tr>
                                        <tr id="total">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-bold-500">TOTAL TRAVAUX</td>
                                            <td class="text-bold-500">5 126 200,00</td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
 

